  {% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    {% set action = '/designs/' + setup.title %}

  <div class="about"></div>


  <section class="bg">

    <div class="row container">
      <div class="col-md-12">
        <form method="post" action="{{ action }}" role="form" class="form-horizontal">

          <input type="hidden" name="_csrf" value="{{ csrf_token }}">

          {% if not table.isNew %}
            <input type="hidden" name="_method" value="PUT">
          {% endif %}

          <div class="form-group required">
            <label for="title" class="col-sm-3 control-label">{{ __('Latest Stored Design Version')}}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-asterisk fa-fw"></i>
                </div>
                <input type="text" readonly="readonly" name="title" value="" placeholder="{{ __('Latest design version Name/ID')}}" class="form-control" id="title" required="true">
              </div>
            </div>
          </div>

<!--           <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-lock fa-fw"></i>
                </div>
                <input type="text" name="password" value="{{ table.password }}" placeholder="Enter password or leave blank" class="form-control" id="password">
              </div>
            </div>
          </div> -->


          <div class="form-group required">
            <label for="setupName" class="col-sm-3 control-label">{{ __('Game Setup Name')}}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-sitemap fa-fw"></i>
                </div>
                <input type="text" readonly="readonly" name="setupName" value="{{ setup.title }}" placeholder="{{ __('Enter the name of the game setup for this table')}}" class="form-control" id="setupName" required="true">
              </div>
            </div>
          </div>

          <!--div class="form-group">
            <label class="col-sm-3 control-label">{{ __('List in Public?')}}</label>
            <div class="col-sm-9">
              <div class="btn-group" data-toggle="buttons">
                <label href="#" for="isPrivate2" class="btn btn-xs btn-success {% if (!table.isPrivate) %} active {% endif %}">{{ __('public')}}
                  <input type="radio" id="isPrivate2" name="isPrivate" value="0" />
                </label>
                <label href="#" for="isPrivate1" class="btn btn-xs btn-warning {% if (table.isPrivate) %} active {% endif %}" >{{ __('private')}}
                  <input type="radio" id="isPrivate1" name="isPrivate" value="1" />
                </label>
              </div>
              <p class="help-block">{{ __('Private rooms are not listed, and can only be found by sharing the link (or guessing the room name)')}}.</p>
            </div>
          </div-->


            <!--div class="form-group">
              <label for="rules" class="col-sm-3 control-label">{{ __('Rules')}}</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-institution fa-fw"></i>
                  </div>
                  <input type="text" name="rules" value="{{ table.rules }}" placeholder="{{ __('Enter custom rules link for this table, e.g.')}} http://myblog.com/rules..." class="form-control" id="rules">
                </div>
              </div>
            </div-->


            {% if capture %}

                      <div class="panel panel-default col-sm-offset-3" id="captureWindow">
                        <div class="panel-heading">
                          <h4><a data-toggle="collapse" data-target="#accordionCapture">
                          <i class="fa fa-camera"></i>
                          {{ __('Capture from paper game')}}</a></h4>
                        </div>
                        <div class="panel-body collapse in" id="accordionCapture">
                          <video id="webcam" autoplay style="display:none;" width="1280" height="720"></video>
                          <canvas id="snapshot" class="fullscreen" width="1280" height="720"></canvas>
                          <div id="fps" class="info"></div>
                          <div>
                            <a id="captureBtn" class="btn btn-danger btn-lg" href="javascript:capture();">
                              {{ __('Capture design!')}} &nbsp;
                              <i class="fa fa-camera"></i>
                            </a>
                            <a id="retryBtn" class="btn btn-success btn-lg" href="javascript:retry();">
                              {{ __('Retry')}} &nbsp;
                              <i class="fa fa-undo"></i>
                            </a>
                          </div>
                          <div id="capturedElements">
                          </div>
                        </div>
                      </div>



                      <div class="panel panel-default col-sm-offset-3" id="mapcontainer">
                        <div class="panel-heading" id="mapareahead">
                          <h4>
                          <i class="fa fa-settings"></i>
                          {{ __('Board Map and Feedback')}} <a id="backCaptBtn" href="javascript:backCapture();">
                            {{ __('Back to capture mode')}} &nbsp;
                            <i class="fa fa-arrow-up"></i>
                          </a></h4>

                        </div>

                        <div class="panel-body" id="maparea">
                          <div class="row">
                            <div id="mapfb" class="col-sm-3 fb-container">
                                <ul class="list-group fb-list" id="fblist">
                                    <li class="list-group-item fb-head lead" id="fb0"> <strong>Feedback</strong> </li>
                                </ul>
                            </div>
                            <div id="mapboard">
                              <canvas id="boardcanvas" width="1412" height="875" style="border:1px solid #d3d3d3;">
                                Your browser does not support the HTML5 canvas tag.
                              </canvas>

                            </div>
                        </div>

                      </div>


                      <div id="invisibleimgs" style="display:none;"></div>

                      <script type="text/javascript">
                          //box, setup already included in the table??
                          var pieces = {% if setupPieces %}{{JSON.stringify(setupPieces)}}{% else %}[]{% endif %};
                          console.log("Pieces (UNSORTED!): "+JSON.stringify(pieces));
                          var table = {% if table %}{{JSON.stringify(table)}}{% else %}{}{% endif %};
                          console.log("Table: "+JSON.stringify(table));
                          //Additional variables with the localized error messages, used in capturedesign.js
                          var MSG_NOTCLEARPLACE = "{{ __('There are cards not clearly placed in board cells: ')}}";
                          var MSG_TOOMANY = "{{ __('There too many cards in a single slot: ')}}";
                          var MSG_BLUECARDSLOTS = "{{ __('Blue cards can only be on the blue slots: ')}}";
                          var MSG_REDCARDSLOTS = "{{ __('Red cards can only be on the red slots: ')}}";
                          var MSG_YELLOWCARDSLOTS = "{{ __('Yellow cards can only be on the yellow slots: ')}}";
                          var MSG_GREENCARDSLOTS = "{{ __('Green cards can only be on the green slots: ')}}";
                          var MSG_CONTENTBOX = "{{ __('The content box must be occupied')}}";
                          var MSG_CONTEXTBOX = "{{ __('The context box must be occupied')}}";
                          var MSG_OBJECTIVEBOX = "{{ __('The objectives box must be occupied')}}";
                          var MSG_CAPTURECARDSLOT = "{{ __('The capture card should be placed in the capture slot')}}";
                          var MSG_QUESTIONEMPTY = "{{ __('The question card cannot be placed in a column to the right of an empty column')}}";
                          var MSG_SYNTAXCORRECT = "{{ __('The board appears to be syntactically correct!')}}";
                          var MSG_NO_INCONSISTENT = "{{ __('No inconsistent card combinations found!')}}";
                          var MSG_NO_MISSING = "{{ __('No missing cards!')}}";
                          var MSG_NO_SUGGESTION = "{{ __('We have no further suggestions for you!')}}";
                          var MSG_INCONSISTENT = "{{ __('Some card is not consistent with others: ')}}";
                          var MSG_MISSING = "{{ __('Some cards are missing: ')}}";
                          var MSG_SUGGESTED = "{{ __('You can also try these cards: ')}}";



                          var MSG_FBSECTION1 = "{{ __('Position errors')}}";
                          var MSG_FBSECTION2 = "{{ __('Inconsistent cards')}}";
                          var MSG_FBSECTION3 = "{{ __('Missing cards')}}";
                          var MSG_FBSECTION4 = "{{ __('Suggested cards')}}";
                      </script>
                      <script src='/js/capturedesign.js'></script>





            {% endif %}



          <!--div class="panel panel-default col-sm-offset-3">
            <div class="panel-heading">
              <h4><a data-toggle="collapse" data-target="#accordion">
              <i class="fa fa-settings"></i>
              {{ __('Advanced Options')}}</a></h4>
            </div>

            <div class="panel-body collapse" id="accordion">



              <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Use WebRTC Video')}}</label>
                <div class="col-sm-9">
                  <div class="btn-group" data-toggle="buttons">
                    <label href="#" for="rtcVideo1" class="btn btn-xs btn-default active" >{{ __('yes')}}
                      <input type="radio" id="rtcVideo1" name="rtcVideo" value="1" />
                    </label>
                    <label href="#" for="rtcVideo2" class="btn btn-xs btn-default">{{ __('no')}}
                      <input type="radio" id="rtcVideo2" name="rtcVideo" value="0" />
                    </label>
                  </div>
                  <p class="help-block">{{ __('Use built-in WebRTC peer to peer video chat')}}.</p>
                </div>
              </div>



              <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Use WebRTC Audio')}}</label>
                <div class="col-sm-9">
                  <div class="btn-group" data-toggle="buttons">
                    <label href="#" for="rtcAudio1" class="btn btn-xs btn-default active" >{{ __('yes')}}
                      <input type="radio" id="rtcAudio1" name="rtcAudio" value="1" />
                    </label>
                    <label href="#" for="rtcAudio2" class="btn btn-xs btn-default">{{ __('no')}}
                      <input type="radio" id="rtcAudio2" name="rtcAudio" value="0" />
                    </label>
                  </div>
                  <p class="help-block">{{ __('Use built-in WebRTC peer to peer audio chat')}}.</p>
                </div>
              </div>


            <div class="form-group">
              <label for="phone" class="col-sm-3 control-label"> {{ __('Phone Conference Number')}} </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone fa-fw"></i>
                  </div>
                  <input type="text" name="phone" value="{{ table.phone }}" placeholder="{{ __('Enter the conference phone number for this table, e.g.')}} +1 123 1234 123" class="form-control" id="phone">
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="skype" class="col-sm-3 control-label">{{ __('Skype Group Link')}}</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-skype fa-fw"></i>
                  </div>
                  <input type="text" name="skype" value="{{ table.skype }}" placeholder="{{ __('Enter a skype group link for this table, e.g.')}} skype:?chat&blob=d6e5AV..." class="form-control" id="skype">
                </div>
                <p class="help-block"><a href="http://blogs.skype.com/2013/03/08/managing-your-group-chats-like-a-boss/" target="_blank">{{ __('Create')}}</a> {{ __('a skype group link')}}</p>
              </div>
            </div>



            <div class="form-group">
              <label for="tags" class="col-sm-3 control-label">{{ __('Tags')}}</label>
              <div class="col-sm-9">
                <input type="text" name="tags" value="{{ table.tags }}" placeholder="{{ __('Enter the tags separated by , ')}}" class="form-control" id="tags">
                <small>{{ __('separate tags by ,')}}</small>
              </div>
            </div>
          </div>
        </div-->

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <!--button class="btn btn-primary" type="submit">{{ __('Create')}}</button-->
              &nbsp;
              <a href="/designs/{{table.setup._id.toString()}}" class="btn btn-link"><i class="fa fa-backward"></i>&nbsp;&nbsp;{{ __('Back to This Design Page')}}</a>
              <a class="btn btn-success btn-lg" href="/designs/{{table.setup._id.toString()}}/play4TsLatest">
                {{ __('Play (virtually)')}} &nbsp;
                <i class="fa fa-play"></i>
              </a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </section>

<div class="about"></div>


{% endblock %}
