{# copyright and footer links #}
<footer>
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h3 class="footer-title">
            <b>4Ts+</b> {{ __('is a project developed by')}} <a href="http://wwww.itd.cnr.it">ITD-CNR</a>
        </h3>
        <p>
            {{ __('Powered by')}} <a href="http://www.tabloro.com">Tabloro</a>
        </p>

        <br>
<!--        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/tablorodotcom"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
             <li>
                <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
            </li>
        </ul> -->


    </div>
</footer>
