{% extends '../layouts/game.html' %}

{% block main %}
    {% include '../includes/game_menu.html' %}

    {% include '../includes/please_wait.html' %}


    {% if (mode === 'setup' && isOwner) %}
        <div id="edit-container">
            <button onclick="G.saveSetup()" class="btn btn-success">{{ __('Save Setup')}}</button>
        </div>
    {% else %}
        <div id="edit-container">
            <!--a href="{{backUrl}}" class="btn btn-warning">{{ __('End Test')}}</a-->
            <a href="javascript:window.close();" class="btn btn-warning">{{ __('End Test')}}</a>

        </div>
    {% endif %}

{% endblock %}
