{% extends '../layouts/game.html' %}

{% block main %}
    {% include '../includes/game_menu.html' %}

    {% include '../includes/please_wait.html' %}


    {% if (mode === 'setup' && isOwner) %}
        <div id="edit-container">
            <button onclick="G.saveSetup()" class="btn btn-success">{{ __('Save Setup')}}</button>
        </div>
    {% elseif (mode === 'playNomod') %}
        <div id="edit-container">
            <button onclick="G.saveDesign()" class="btn btn-success">{{ __('Save and Check Design')}}</button>
            <button onclick="window.close()" class="btn btn-danger">{{ __('Back to Design Page (closes window)')}}</button>
        </div>
    {% else %}
        <div id="edit-container">
            <!--a href="{{backUrl}}" class="btn btn-warning">{{ __('End Test')}}</a-->
            <a href="javascript:window.close();" class="btn btn-warning">{{ __('End Test')}}</a>

        </div>
    {% endif %}

{% endblock %}
