{% extends '../layouts/noHeader.html' %}

{% block main %}
    <div class="page-title">
        <h1>
            &nbsp;
            <span class="text-danger">4</span><span class="text-primary">T</span><span class="text-success">s</span><span class="text-warning">+</span>
        </h1>
    </div>

    <div class="page-sub-title">


    </h4>

        <h3>
            {{ __('An augmented tabletop game to <strong>design</strong> your <strong>collaborative</strong> learning activities.')}}
            <br>
            <br>
            {{ __('Play the game <strong>physically</strong>, convert it to <strong>digital</strong>, continue playing and <strong>sharing</strong> it with others online.')}}
        </h3>
        <br>

        <a href="#current_games" class="btn btn-primary btn-lg">
            <i class="fa fa-heart"></i>
            {{ __('Play now') }}
        </a>
        <a href="#features" class="btn btn-default btn-lg">
            <i class="fa fa-info"></i>
            {{ __('Learn more') }}
        </a>
            <br>

    </div>
{% endblock %}


{% block content %}


    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="features" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>{{ __('Features')}}</h2>
                    <h4>{{ __('Open Source via github')}}
                    <iframe src="https://ghbtns.com/github-btn.html?user=lprisan&repo=tabloro&type=star&count=false&size=small" frameborder="0" scrolling="0" width="70px" height="20px"></iframe>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-hand-o-up fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>{{ __('Play physically')}}</strong>
                                </h4>
                                <p>{{ __('4Ts+ can be played as any other board game, with paper cards around a table.')}}</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-search fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>{{ __('Get online advice')}}</strong>
                                </h4>
                                <p>{{ __('By pointing a webcam to the board, our advisor can point you to inconsistencies or suggest new elements to use.')}}</p>
                                <!-- <a href="#" class="btn btn-light">Free sign up</a> -->
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-floppy-o fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>{{ __('Store digitally')}}</strong>
                                </h4>
                                <p>{{ __('Once your time is up, convert your design to digital, for later improvement or sharing with others')}}</p>
                                <!--p>Built in private <a href="http://iswebrtcreadyyet.com/" target="_blank" class="text-default" ><u>peer to peer</u></a> video &amp audio chat in the browser.</p-->
                                <!-- <a href="#" class="btn btn-light">How That ?</a> -->
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-share-alt fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>{{ __('Share and improve')}}</strong>
                                    </h4>
                                    <p>{{ __('Once your board/design is stored, you can share it with others, or collaborate in improving it remotely')}}</p>
                            </div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- About -->
    <!--section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2>Play <strong>any</strong> board game, <strong>any</strong> time, <strong>any</strong> device. </h2>
                    <p class="lead">Play in your browser, invite friends &amp family, save and resume any time.</p>
                    <center>
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Ftablorodotcom&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px; width:250px;"  allowTransparency="true"></iframe>
                    </center>
                </div>
            </div>
        </div>
    </section-->

    <!-- Callout -->
    <!--aside class="callout">
        <div class="text-vertical-center">
            <h1>Play the hype</h1>
            <h2>
                <a class="btn btn-success" href="/setups?pick=table">
                    <i class="fa fa-plus-circle"></i>
                    Open your own table
                </a>
                and share with friends
            </h2>
        </div>
    </aside-->

    <!-- Portfolio -->
    <section id="current_games" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="text-center">
                  {% if (req.isAuthenticated()) %}

                  <a class="btn btn-danger btn-lg" href="/tables/new/?setupName=COMPLETE%204TS%20SETUP%20EN&capture=true">
                    {{ __('Capture a design')}} &nbsp;
                    <i class="fa fa-camera"></i>
                  </a>

                  {% endif %}


                    <h4>{{ __('Latest Public Tables')}}
                        <a class="btn btn-info btn-s" href="/tables">
                            <i class="fa fa-search"></i>
                            &nbsp; {{ __('find more...')}}
                        </a>
                    </h4>
                    <br/>
                    <div class="row">
                        {% if (tables.length) %}
                            {% for table in tables %}
                                {% include '../tables/table.html' %}
                            {% endfor %}
                        {% endif %}
                        {% include '../tables/create_table.html' %}
                    </div>
                    </a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    {% if (!req.isAuthenticated()) %}

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container" id="signup">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <img class="img-portfolio img-responsive" src="img/girl.jpg"> -->
                    <h4>{{ __('Free signup required to capture your games and play them online.')}}</h4>
                    <a href="/signup" class="btn btn-lg btn-light" data-toggle="modal" data-target="/signup">{{ __('Board me Up!')}}</a>
                    <a href="/login" class="btn btn-lg btn-dark" data-toggle="modal" data-target="/login">{{ __('Login')}}</a>
                </div>
            </div>
        </div>
    </aside>


    {% endif %}

    <!--section id="features" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
            partners
                <ul class="list-unstyled">
                    <li>
                        TBA
                    </li>
                    <li>
                        <a href="http://www.instructables.com/id/How-to-make-your-board-card-games-playable-in-the-/" target="_blank">
                            <img src="/img/instructables.png"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section-->
    <!-- Map -->
    <section id="contact">
    </section>

{% endblock %}
