  {% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  {% if table.isNew %}
    {% set action = '/tables' %}
  {% else %}
    {% set action = '/tables/' + table.title %}
  {% endif %}

  <div class="about"></div>


  <section class="bg">

    <div class="row container">
      <div class="col-md-12">
        <form method="post" action="{{ action }}" role="form" class="form-horizontal">

          <input type="hidden" name="_csrf" value="{{ csrf_token }}">

          {% if not table.isNew %}
            <input type="hidden" name="_method" value="PUT">
          {% endif %}

          <div class="form-group required">
            <label for="title" class="col-sm-3 control-label">{{ __('Table Name')}}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-asterisk fa-fw"></i>
                </div>
                <input type="text" name="title" value="{{ table.title }}" placeholder="{{ __('Enter the name of your table')}}" class="form-control" id="title" required="true">
              </div>
            </div>
          </div>

<!--           <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-lock fa-fw"></i>
                </div>
                <input type="text" name="password" value="{{ table.password }}" placeholder="Enter password or leave blank" class="form-control" id="password">
              </div>
            </div>
          </div> -->


          <div class="form-group required">
            <label for="setupName" class="col-sm-3 control-label">{{ __('Game Setup Name')}}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-sitemap fa-fw"></i>
                </div>
                <input type="text" name="setupName" value="{{ table.setupName || table.setup.title }}" placeholder="{{ __('Enter the name of the game setup for this table')}}" class="form-control" id="setupName" required="true">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{ __('List in Public?')}}</label>
            <div class="col-sm-9">
              <div class="btn-group" data-toggle="buttons">
                <label href="#" for="isPrivate2" class="btn btn-xs btn-success {% if (!table.isPrivate) %} active {% endif %}">{{ __('public')}}
                  <input type="radio" id="isPrivate2" name="isPrivate" value="0" />
                </label>
                <label href="#" for="isPrivate1" class="btn btn-xs btn-warning {% if (table.isPrivate) %} active {% endif %}" >{{ __('private')}}
                  <input type="radio" id="isPrivate1" name="isPrivate" value="1" />
                </label>
              </div>
              <p class="help-block">{{ __('Private rooms are not listed, and can only be found by sharing the link (or guessing the room name)')}}.</p>
            </div>
          </div>


            <div class="form-group">
              <label for="rules" class="col-sm-3 control-label">{{ __('Rules')}}</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-institution fa-fw"></i>
                  </div>
                  <input type="text" name="rules" value="{{ table.rules }}" placeholder="{{ __('Enter custom rules link for this table, e.g.')}} http://myblog.com/rules..." class="form-control" id="rules">
                </div>
              </div>
            </div>


            {% if capture %}

                      <div class="panel panel-default col-sm-offset-3">
                        <div class="panel-heading">
                          <h4><a data-toggle="collapse" data-target="#accordionCapture">
                          <i class="fa fa-camera"></i>
                          {{ __('Capture from paper game')}}</a></h4>
                        </div>
                        <div class="panel-body collapse in" id="accordionCapture">
                          <video id="webcam" autoplay style="display:none;" width="1280" height="720"></video>
                          <canvas id="snapshot" class="fullscreen" width="1280" height="720"></canvas>
                          <div id="fps" class="info"></div>
                          <div>
                            <a id="captureBtn" class="btn btn-danger btn-lg" href="javascript:capture();">
                              {{ __('Capture design!')}} &nbsp;
                              <i class="fa fa-camera"></i>
                            </a>
                            <a id="retryBtn" class="btn btn-success btn-lg" href="javascript:retry();">
                              {{ __('Retry')}} &nbsp;
                              <i class="fa fa-undo"></i>
                            </a>
                          </div>
                          <div id="capturedElements">
                          </div>
                        </div>
                      </div>

                      <script>
                          var video = document.getElementById('webcam');
                          var canvas = document.getElementById('snapshot');
                          var ctx = canvas.getContext('2d');
                          var localMediaStream = null;

                          var continuous = true;

                          var lastTags;

                          //Elements to style for capture
                          var videoContBG = document.getElementById('snapshot');
                          var captureBtn = document.getElementById('captureBtn');
                          var retryBtn = document.getElementById('captureBtn');

                          var BOARD_TAGS = ["2","3","4","5"];
                          var CAPTURE_TAG = "0";

                          var width = canvas.width;
                          var height = canvas.height;

                          var fps = document.getElementById('fps');
                          var fpsText = document.createTextNode('');
                          fps.appendChild(fpsText);

                          //Style elements taking into account the board tags present
                          var checkAndStyleBoardCapture = function(tags, videocont, button){
                              var board_present = 0;
                              for (tag in tags){
                                  if(BOARD_TAGS.indexOf(tag)!=-1){
                                      board_present++;
                                  }
                              }
                              if(board_present==4){ //All tags present, paint the frame with green border
                                  videocont.style.borderWidth = '20px';
                                  videocont.style.borderColor = 'green';
                                  videocont.style.borderStyle = 'solid';
                                  if(continuous) button.classList.remove("disabled");
                              }else if(board_present==0){ //No tags present, paint frame with red border and disable button
                                  videocont.style.borderWidth = '20px';
                                  videocont.style.borderColor = 'red';
                                  videocont.style.borderStyle = 'solid';
                                  if(continuous) button.classList.add("disabled");
                              }else if(board_present>0 && board_present<4){ //Some tags present, paint frame with yellow-orange border and disable button
                                  videocont.style.borderWidth = '20px';
                                  videocont.style.borderColor = 'orange';
                                  videocont.style.borderStyle = 'solid';
                                  if(continuous) button.classList.add("disabled");
                              }else{
                                  //Remove border and disable capture button, just in case
                                  videocont.style.borderStyle = 'none';
                                  if(continuous) button.classList.remove("disabled");
                              }
                              return board_present;
                          }

                          //gets a set of 4 pairs of numbers (tag corners x,y) and calculates the center
                          var getTagCenter = function(tag){
                            var center = [];
                            center = [(tag[0][0]+tag[1][0]+tag[2][0]+tag[3][0])/4, // x
                                      (tag[0][1]+tag[1][1]+tag[2][1]+tag[3][1])/4] // y
                            return center;
                          }

                          // do homography of corners and get which tags are where, see https://uncorkedstudios.com/blog/perspective-transforms-in-javascript
                          var getTransformedTags = function(tags, logging=false){
                              var transTagPos = {};
                              var srcCorners = [].concat.apply([],[ getTagCenter(tags['2']) ,
                                                                  getTagCenter(tags['3']) ,
                                                                  getTagCenter(tags['4']) ,
                                                                  getTagCenter(tags['5'])]); //Detected board tags
                              var dstCorners = [0,0,100,0,100,100,0,100]; //Ideal board (sides 0-100%)
                              var perspT = PerspT(srcCorners, dstCorners);
                              if(logging) console.log('Board detected at '+srcCorners);

                              var newCoords = {};
                              count = 0;
                              for(tag in tags){
                                  if($.inArray(tag, BOARD_TAGS)==-1){ //We check only non-board tags
                                      var srcPt = getTagCenter(tags[tag]);
                                      var dstPt = perspT.transform(srcPt[0], srcPt[1]);
                                      newCoords[tag] = dstPt;
                                      count++;
                                  }
                              }
                              if(logging) console.log('Found '+count+' non-board tags: '+JSON.stringify(newCoords));
                              return newCoords;
                          }

                          //Checking camera
                          var hasGetUserMedia = function() {
                              return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                                      navigator.mozGetUserMedia || navigator.msGetUserMedia);
                          }
                          //Error
                          var onFailSoHard = function(e) {
                              console.log('Error!', e);
                          };

                          //Camera capture
                          var snapshot = function() {
                              if (localMediaStream) {
                                  ctx.drawImage(video, 0, 0, video.width, video.height);
                                  var start = new Date();
                                  var obj = Chilitags.findTagsOnImage(canvas, true);
                                  lastTags = obj;
                                  var end = new Date();
                                  var str = 'tag: ';
                                  for(var tag in obj){
                                      str += tag + ", ";
                                  }
                                  fpsText.nodeValue = video.width+"x"+video.height+"--Chilitags processing = " + (end.getTime() - start.getTime()) + "ms  " + str;
                              }
                              // We color the video's containters bg color, and disable the capture button,
                              // so that we can know when the capture is possible
                              var board_present = checkAndStyleBoardCapture(lastTags, videoContBG, captureBtn);
                              if(board_present==4){
                                // do homography of corners and get which tags are where, see https://uncorkedstudios.com/blog/perspective-transforms-in-javascript
                                transTagPositions = getTransformedTags(lastTags);
                                if(transTagPositions[CAPTURE_TAG] && transTagPositions[CAPTURE_TAG][0]>0 &&
                                          transTagPositions[CAPTURE_TAG][0]<100 &&
                                          transTagPositions[CAPTURE_TAG][1]>0 &&
                                          transTagPositions[CAPTURE_TAG][1]<100){
                                    // if the capture card is inside the board, we call capture()
                                    capture();
                                }
                              }
                              if(continuous) requestAnimationFrame(snapshot);
                          }

                          var capture = function() {
                              continuous=false;
                              var str = JSON.stringify(lastTags);
                              var captured = document.getElementById('capturedElements');
                              var capturedText = document.createTextNode(str);
                              captured.appendChild(capturedText);
                              captureBtn.classList.add("disabled");

                              var board_present = checkAndStyleBoardCapture(lastTags, videoContBG, captureBtn);
                              if(board_present==4){
                                  // do homography of corners and get which tags are where, see https://uncorkedstudios.com/blog/perspective-transforms-in-javascript
                                  transTagPositions = getTransformedTags(lastTags, true); //activate console logging
                                  //cardRegions = getBoardRegions(transTagPositions);
                                  //TODO: Get from db what card each tag corresponds to
                                  //TODO: Build the query for the prolog KB
                              }

                          }
                          var retry = function() {
                              continuous=true;
                              var captured = document.getElementById('capturedElements');
                              var capturedText = document.createTextNode('');
                              //captured.removeChild(captured.firstChild);
                              captured.innerHTML='';
                              captured.appendChild(capturedText);
                              captureBtn.classList.add("disabled");
                              requestAnimationFrame(snapshot);
                          }

                          if (hasGetUserMedia()) {
                              console.log("Camera OK");
                          } else {
                              alert("Invalid!");
                          }


                          window.URL = window.URL || window.webkitURL;
                          navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia ||
                          navigator.mozGetUserMedia || navigator.msGetUserMedia;

                          navigator.getUserMedia({video: //true
                             {
                               optional: [
                                 {minWidth: 320},
                                 {minWidth: 640},
                                 {minWidth: 1024},
                                 {minWidth: 1280},
                            //     {minWidth: 1920},
                            //     {minWidth: 2560},
                               ]
                             }
                          }, function(stream) {
                                  video.src = window.URL.createObjectURL(stream);
                                  localMediaStream = stream;
                                  video.play();
                                  }, onFailSoHard);

                          video.addEventListener('play', function() {setTimeout('snapshot()', 2500);}, false);

                      </script>
            {% endif %}



          <div class="panel panel-default col-sm-offset-3">
            <div class="panel-heading">
              <h4><a data-toggle="collapse" data-target="#accordion">
              <i class="fa fa-settings"></i>
              {{ __('Advanced Options')}}</a></h4>
            </div>

            <div class="panel-body collapse" id="accordion">



              <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Use WebRTC Video')}}</label>
                <div class="col-sm-9">
                  <div class="btn-group" data-toggle="buttons">
                    <label href="#" for="rtcVideo1" class="btn btn-xs btn-default active" >{{ __('yes')}}
                      <input type="radio" id="rtcVideo1" name="rtcVideo" value="1" />
                    </label>
                    <label href="#" for="rtcVideo2" class="btn btn-xs btn-default">{{ __('no')}}
                      <input type="radio" id="rtcVideo2" name="rtcVideo" value="0" />
                    </label>
                  </div>
                  <p class="help-block">{{ __('Use built-in WebRTC peer to peer video chat')}}.</p>
                </div>
              </div>



              <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Use WebRTC Audio')}}</label>
                <div class="col-sm-9">
                  <div class="btn-group" data-toggle="buttons">
                    <label href="#" for="rtcAudio1" class="btn btn-xs btn-default active" >{{ __('yes')}}
                      <input type="radio" id="rtcAudio1" name="rtcAudio" value="1" />
                    </label>
                    <label href="#" for="rtcAudio2" class="btn btn-xs btn-default">{{ __('no')}}
                      <input type="radio" id="rtcAudio2" name="rtcAudio" value="0" />
                    </label>
                  </div>
                  <p class="help-block">{{ __('Use built-in WebRTC peer to peer audio chat')}}.</p>
                </div>
              </div>


            <div class="form-group">
              <label for="phone" class="col-sm-3 control-label"> {{ __('Phone Conference Number')}} </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone fa-fw"></i>
                  </div>
                  <input type="text" name="phone" value="{{ table.phone }}" placeholder="{{ __('Enter the conference phone number for this table, e.g.')}} +1 123 1234 123" class="form-control" id="phone">
                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="skype" class="col-sm-3 control-label">{{ __('Skype Group Link')}}</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-skype fa-fw"></i>
                  </div>
                  <input type="text" name="skype" value="{{ table.skype }}" placeholder="{{ __('Enter a skype group link for this table, e.g.')}} skype:?chat&blob=d6e5AV..." class="form-control" id="skype">
                </div>
                <p class="help-block"><a href="http://blogs.skype.com/2013/03/08/managing-your-group-chats-like-a-boss/" target="_blank">{{ __('Create')}}</a> {{ __('a skype group link')}}</p>
              </div>
            </div>



            <div class="form-group">
              <label for="tags" class="col-sm-3 control-label">{{ __('Tags')}}</label>
              <div class="col-sm-9">
                <input type="text" name="tags" value="{{ table.tags }}" placeholder="{{ __('Enter the tags separated by , ')}}" class="form-control" id="tags">
                <small>{{ __('separate tags by ,')}}</small>
              </div>
            </div>
          </div>
            </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button class="btn btn-primary" type="submit">{{ __('Create')}}</button>
              &nbsp;
              <a href="/tables" class="btn btn-link">{{ __('Cancel')}}</a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </section>

<div class="about"></div>


{% endblock %}
