<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>

        <link href="/css/video.css" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/tabloro.css" rel="stylesheet">
        <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/css/game.css" rel="stylesheet">
        <!-- Language icons CSS -->
        <link href="/css/languages.min.css" rel="stylesheet">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

        {% if process.env.NODE_ENV === 'development' %}
            <script type="text/javascript" src="/js/magictouch.js"></script>
        {% endif %}

        <script type="text/javascript" src="/eureca.js"></script>
        <script type="text/javascript" src="/js/phaser.js"></script>
        <script type="text/javascript" src="/js/ramda.js"></script>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/peer.js"></script>

        <script type="text/javascript" src="/js/hammer.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script src="/js/jquery-ui.min.js"></script>
        <script src='/js/perspective-transform.min.js'></script>


        {% if process.env.NODE_ENV === 'development' %}
            <script type="text/javascript" src="/Game.js"></script>
            <script type="text/javascript" src="/Network.js"></script>
            <script type="text/javascript" src="/Cursor.js"></script>
            <script type="text/javascript" src="/UI.js"></script>
            <script type="text/javascript" src="/Assets.js"></script>
            <script type="text/javascript" src="/Controls.js"></script>
            <script type="text/javascript" src="/Touch.js"></script>
            <script type="text/javascript" src="/Dice.js"></script>
            <script type="text/javascript" src="/Utils.js"></script>
            <script type="text/javascript" src="/Tile.js"></script>
            <script type="text/javascript" src="/Stack.js"></script>
            <script type="text/javascript" src="/Hand.js"></script>
            <script type="text/javascript" src="/Video.js"></script>
            <script type="text/javascript" src="/main.js"></script>
        {% else %}
            <script type="text/javascript" src="/js/compiled.js"></script>
        {% endif %}

        <script type="text/javascript">
            var playerName = '{{user.username }}';
            var guestMode = playerName ? false : true;
            playerName = playerName || "Guest_" + Date.now().toString().slice(-8,-1);
            var cursorId = Number('{{user.selected_cursor}}') || 1;
            var mode = '{{mode}}';
            var roomName = '{{roomName || room.title}}';
            var gameName = '{{game.title}}';
            var assets = JSON.parse('{{ JSON.stringify(assets) }}');
            {% if mode === 'playNomod' %}
            var OBJECTIVE_TAG = "6";
            var CONTEXT_TAG = "7";
            var CONTENT_TAG = "8";
            var CAPTURE_TAG = "0";
            var QUESTION_TAG = "1";
            var MSG_NOTCLEARPLACE = "{{ __('There are cards not clearly placed in board cells: ')}}";
            var MSG_TOOMANY = "{{ __('There too many cards in a single slot: ')}}";
            var MSG_BLUECARDSLOTS = "{{ __('Blue cards can only be on the blue slots: ')}}";
            var MSG_REDCARDSLOTS = "{{ __('Red cards can only be on the red slots: ')}}";
            var MSG_YELLOWCARDSLOTS = "{{ __('Yellow cards can only be on the yellow slots: ')}}";
            var MSG_GREENCARDSLOTS = "{{ __('Green cards can only be on the green slots: ')}}";
            var MSG_CONTENTBOX = "{{ __('The content box must be occupied')}}";
            var MSG_CONTEXTBOX = "{{ __('The context box must be occupied')}}";
            var MSG_OBJECTIVEBOX = "{{ __('The objectives box must be occupied')}}";
            var MSG_CAPTURECARDSLOT = "{{ __('The capture card should be placed in the capture slot')}}";
            var MSG_QUESTIONEMPTY = "{{ __('The question card cannot be placed in a column to the right of an empty column')}}";
            var MSG_SYNTAXCORRECT = "{{ __('The board appears to be syntactically correct!')}}";
            var MSG_NO_INCONSISTENT = "{{ __('No inconsistent card combinations found!')}}";
            var MSG_NO_MISSING = "{{ __('No missing cards!')}}";
            var MSG_NO_SUGGESTION = "{{ __('We have no further suggestions for you!')}}";
            var MSG_INCONSISTENT = "{{ __('Some card is not consistent with others: ')}}";
            var MSG_MISSING = "{{ __('Some cards are missing: ')}}";
            var MSG_SUGGESTED = "{{ __('You can also try these cards: ')}}";
            var MSG_FBSECTION1 = "{{ __('Position errors')}}";
            var MSG_FBSECTION2 = "{{ __('Inconsistent cards')}}";
            var MSG_FBSECTION3 = "{{ __('Missing cards')}}";
            var MSG_FBSECTION4 = "{{ __('Suggested cards')}}";
            var pieces = JSON.parse('{{ JSON.stringify(pieces) }}')
            {% endif %}
        </script>
    </head>

    <body style="cursor : url(/img/cursors/{{user.selected_cursor}}.png), auto;">
        {% if process.env.NODE_ENV === 'development' %}
            <!--object id="tuio" type="application/x-tuio" style="width: 0px; height: 0px; position: absolute;">
                Touch input plugin failed to load!
            </object-->
        {% endif %}

        {% block main %}{% endblock %}

        <div class="chat" id="chatFrame" class="no-select" style="display: none;">
            <input type="text" id="chatInput" placeholder="Press ENTER to chat..." autofocus class="no-select"></input>
        </div>
    </body>
</html>

{% include '../includes/toggle_menu.html' %}
